<div class="container">
    <div class="main">
        <div class="left">
          <a>  <i routerLink="/"><h1 >Rating Rishu</h1></i></a>
        </div>
        <div class="middle">
           
        </div>
        <div class="right">
            <a routerLink="/">Home</a>
            <!-- <a routerLink="/projects">Projects</a> -->
            <div class="dropdown">
                <a class="dropbtn">Projects</a>
                <div class="dropdown-content">
                    <a href="https://ratingrishu.github.io/NutriBytes/" target="_blank">Nutri Bytes</a>
                    <a href="https://ratingrishu.github.io/WeatherApplication/" target="_blank">Weather App</a>
                    <a href="https://ratingrishu.github.io/My-Portfolio/about" target="_blank">Portfolio Sample</a>
                    <a href="https://ratingrishusearchbox.netlify.app" target="_blank">Search Button</a>
                    <a href="https://rishuapnabazaar.netlify.app" target="_blank">Apna Bazaar</a>
                    <a href="https://ratingrishuweatherapp.netlify.app/" target="_blank"> Weather App (React)</a>
                </div>
            </div>
            <a routerLink="/contact">Contact</a>
            <!-- <a routerLink="/Experience">Experience</a> -->
           <!-- <img src="https://gist.github.com/user-attachments/assets/8c9616f6-7519-4569-aaae-aceb5b6a91e9" alt="" width="200px" height="200px"> -->
        </div>
    </div>
</div>
