<div class="body" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
    <div class="content">
        <h1 #typedText style="color: white;"></h1>
        <a (click)="downloadResume()" href="https://drive.google.com/file/d/1CZ4MdFcX3N9zTl6PgOQ8zbxGvm7rmGtA/view?usp=sharing" target="_blank">Download Resume</a>
    </div>
    <div class="img">
        <img src="https://gist.github.com/assets/99909689/327f4504-1b93-42d7-a0fc-57d281a94eb0" alt=""
            class="profile-image">
    </div>
</div>