<h1 style="color: white; text-align: center;">Experience</h1>


<div class="body" data-aos="zoom-in">
   <h3>Consultant at Skillikz Technologies Pvt. Ltd.</h3>
   <p>
     Worked on The Car Loan Center Website increase 20% of
     Proficiency. Worked on Axle Hub Website
     Worked with Playwright Automation Testing
   </p>
</div>


<div class="body" data-aos="zoom-in">
   <h3>Associate Trainee at Skillikz Technologies Pvt. Ltd</h3>
          <p>
            Worked on The Car Loan Center Website.
            Worked on UI Updating on TCLC Project 10% for user
            understandings.
            Course on cyber security Provided by Company.
          </p>
</div>

<div class="body" data-aos="zoom-in">
   <h3>Intern at Delente Technologies Pvt. Ltd</h3>
   <p>
     Worked on copy of Profile of CraBike360.com Website UI implementation using React.
     <br>
     Learn React to develop UI.
   </p>
</div>
