<!-- 

    <section class="carousel">
      <h2 class="categories__title">Skills</h2>
      <div class="carousel__container">
        <div class="carousel-item">
          <img
            class="carousel-item__img"
            src="https://gist.github.com/user-attachments/assets/e201cbe4-8595-47d4-be67-c26854c59f84"
            alt="people"
          />
          <div class="carousel-item__details">
            <div class="controls">
              <span class="fas fa-play-circle"></span>
              <span class="fas fa-plus-circle"></span>
            </div>
            <h1 class="carousel-item__details--title">Angular</h1>
            <h6 class="carousel-item__details--subtitle">Date and Duration</h6>
          </div>
        </div>
        <div class="carousel-item">
          <img
            class="carousel-item__img"
            src="https://gist.github.com/user-attachments/assets/763993c5-2dca-435e-aef4-dbbc2b516908"
            alt="people"
          />
          <div class="carousel-item__details">
            <div class="controls">
              <span class="fas fa-play-circle"></span>
              <span class="fas fa-plus-circle"></span>
            </div>
            <h1 class="carousel-item__details--title">HTML 5</h1>
            <h6 class="carousel-item__details--subtitle">Date and Duration</h6>
          </div>
        </div>
        <div class="carousel-item">
          <img
            class="carousel-item__img"
            src="https://gist.github.com/user-attachments/assets/d86b6669-7e33-477d-a1a8-819105317c60"
            alt="people"
          />
          <div class="carousel-item__details">
            <div class="controls">
              <span class="fas fa-play-circle"></span>
              <span class="fas fa-plus-circle"></span>
            </div>
            <h1 class="carousel-item__details--title">CSS3</h1>
            <h6 class="carousel-item__details--subtitle">Date and Duration</h6>
          </div>
        </div>
        <div class="carousel-item">
          <img
            class="carousel-item__img"
            src="https://gist.github.com/user-attachments/assets/d86b6669-7e33-477d-a1a8-819105317c60"
            alt="people"
          />
          <div class="carousel-item__details">
            <div class="controls">
              <span class="fas fa-play-circle"></span>
              <span class="fas fa-plus-circle"></span>
            </div>
            <h1 class="carousel-item__details--title">CSS3</h1>
            <h6 class="carousel-item__details--subtitle">Date and Duration</h6>
          </div>
        </div>
        <div class="carousel-item">
          <img
            class="carousel-item__img"
            src="https://images.pexels.com/photos/417344/pexels-photo-417344.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
            alt="people"
          />
          <div class="carousel-item__details">
            <div class="controls">
              <span class="fas fa-play-circle"></span>
              <span class="fas fa-plus-circle"></span>
            </div>
            <h1 class="carousel-item__details--title">Descriptive Title</h1>
            <h6 class="carousel-item__details--subtitle">Date and Duration</h6>
          </div>
        </div>
        <div class="carousel-item">
          <img
            class="carousel-item__img"
            src="https://images.pexels.com/photos/6945/sunset-summer-golden-hour-paul-filitchkin.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
            alt="people"
          />
          <div class="carousel-item__details">
            <div class="controls">
              <span class="fas fa-play-circle"></span>
              <span class="fas fa-plus-circle"></span>
            </div>
            <h1 class="carousel-item__details--title">Descriptive Title</h1>
            <h6 class="carousel-item__details--subtitle">Date and Duration</h6>
          </div>
        </div>

        <div class="carousel-item">
          <img
            class="carousel-item__img"
            src="https://images.pexels.com/photos/1964471/pexels-photo-1964471.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"
            alt="people"
          />
          <div class="carousel-item__details">
            <div class="controls">
              <span class="fas fa-play-circle"></span>
              <span class="fas fa-plus-circle"></span>
            </div>
            <h1 class="carousel-item__details--title">Descriptive Title</h1>
            <h6 class="carousel-item__details--subtitle">Date and Duration</h6>
          </div>
        </div>
      </div>
    </section>

 -->

<!-- 

    <h1>Skills </h1>
<ol>
    <li >
        <div class="icon"><i class="fa-solid fa-bicycle"></i></div>
        <div class="title">Step 1</div>
        <div class="descr">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis, porro.</div>
    </li>
    <li >
        <div class="icon"><i class="fa-solid fa-code"></i></div>
        <div class="title">HTML</div>
        <div class="descr">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis, porro.</div>
    </li>
    <li >
        <div class="icon"><i class="fa-solid fa-helicopter"></i></div>
        <div class="title">Step 3</div>
        <div class="descr">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis, porro.</div>
    </li>
    <li >
        <div class="icon"><i class="fa-solid fa-plane"></i></div>
        <div class="title">Step 4</div>
        <div class="descr">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis, porro.</div>
    </li>
    <li >
        <div class="icon"><i class="fa-solid fa-rocket"></i></div>
        <div class="title">Step 5</div>
        <div class="descr">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis, porro.</div>
    </li>
    <li >
        <div class="icon"><i class="fa-solid fa-bus"></i></div>
        <div class="title">Step 6</div>
        <div class="descr">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis, porro.</div>
    </li>
</ol>
<div class="credits">
    <a target="_blank" href="https://www.freepik.com/premium-vector/vector-infographic-design-template-with-icons-8-options-steps_10571883.htm">inspired by</a>
</div> -->



<!--  -->

  <!-- <section class="skills">
    <h1 style="text-align: center; color: white; font-size: xx-large; font-weight: bolder;">Skills </h1>
    
  </section> -->


  <div class="portfolio">
    <h1>My Skills</h1>
    <div class="skills">
      <div class="skill">
        <a>
          <img src="https://gist.github.com/user-attachments/assets/e201cbe4-8595-47d4-be67-c26854c59f84" alt="HTML icon">
        </a>
        <p>Angular</p>
      </div>
      <div class="skill">
        <a>
          <img src="https://gist.github.com/user-attachments/assets/763993c5-2dca-435e-aef4-dbbc2b516908" alt="CSS icon">
        </a>
        <p>HTML5</p>
      </div>
      <div class="skill">
        <a>
          <img src="https://gist.github.com/user-attachments/assets/d86b6669-7e33-477d-a1a8-819105317c60"
            alt="Bootstrap icon">
        </a>
        <p>CSS3</p>
      </div>
      <div class="skill">
        <a>
          <img src="https://gist.github.com/user-attachments/assets/e6af06d5-0110-4e7d-b653-3f093ca9f074" alt="Angular icon">
        </a>
        <p>Bootstrap</p>
      </div>
      <div class="skill">
        <a>
          <img src="https://gist.github.com/assets/99909689/a14bd9e1-7b77-4993-ae8f-d8648fef5f38"
            alt="JavaScript icon">
        </a>
        <p>JavaScript</p>
      </div>
      <div class="skill">
        <a>
          <img src="https://gist.github.com/user-attachments/assets/e0189965-eaf3-4ad6-af86-21f752b08b48"
            alt="C programming icon">
        </a>
        <p>C Programming</p>
      </div>
      <div class="skill">
        <a>
          <img src="https://gist.github.com/assets/99909689/986c5825-0325-46e0-975a-fa60a41815f1"
            alt="Playwright icon">
        </a>
        <p>Playwright Testing</p>
      </div>
      <div class="skill">
        <a>
          <img src="https://gist.github.com/user-attachments/assets/e5cf235a-cd7c-473a-8f0d-ea0ac0befe79" alt="GitHub icon">
        </a>
        <p>GitHub</p>
      </div>
    </div>
  </div>